@model IEnumerable<SocialNetwork.Web.Models.ProfileViewModel>

@{
    ViewBag.Title = "FriendsList";
}

<h2>Lista de amigos</h2>

<section class="friends-list">

    @foreach (var item in Model)
    {
        <div class="image-container">
            <img class="foto-perfil miniatura" src="@Url.Content(item.PictureUrl)" />
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            <p>Rio de Janeiro</p>
        </div>
        <div>
            @Html.ActionLink("Detalhes", "ProfileFromListPage", new { @id = item.Id })
        </div>
    }
</section>
