body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.form-horizontal
{
    width: 50%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 800px;
}

.navbar-collapse
{
    min-height: 85px;
}

div.social-menu-bar 
{
    background-color: #ff5400;
    height: 110px;
}

div.social-menu-bar a
{
    color: #ffffff;
}

div.social-menu-bar ul.options-page a:hover 
{
    color: #ff5400
}

.foto-perfil
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.foto-gallery 
{
    width: 150px;
    height: 150px;
}

div.login-form
{
    display: flex;
    padding: 10px;
    margin-top: 10px;
}

div.login-form span label
{
    display: block;
    color:#fff;
    margin-left: 10px;
}

div.login-form input 
{
    margin: 0 10px;
    border: none;
    padding: 5px;
    height: 40px;
    border-radius: 2px;
}

div.login-form input:nth-child(3) 
{
    color: #fff;
    width: 60px;
    margin-top: 25px;
    font-weight: bold;
    background: #b3430c;
    box-shadow: 0px 0px 1px 0px black;
}

ul.options-page 
{
    float: right;
    margin-top: 10px;
}

ul.options-page i 
{
    color: #fff;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}
ul.options-page a:first-child
{
    margin-top:20px;
}
ul.options-page a
{
    margin-top: 0px;
    margin-left:-28px;
}
.transparent
{
    position: absolute;
    top: 0;
    height: 50px;
    width:40px;
    color: transparent !important;
}
.navbar-brand 
{
    font-size: 80px;
    margin-top: 30px;
}

img.logotipo 
{
    margin-top: 10px;
    width: 200px;
}

form
{
    display:flex;
}