body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #ddd;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.form-horizontal
{
    width: 50%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

main.user-details
{
    display:flex;
    margin-top:20px;
}

main.user-details section:first-child
{
    margin-right:20px;
}

footer 
{
    left: 0;
    bottom: 0;
    width: 100%;
    width: 100%;
    position: fixed;
}
footer hr
{
    margin-top:0;
}
.navbar-collapse
{
    min-height: 85px;
}
div.principal
{
    display:flex;
}
section.area-central
{
    margin-left:300px;
}
div.social-menu-bar 
{
    background-color: #ff5400;
    height: 60px;
}

div.social-menu-bar a
{
    color: #ffffff;
}

div.social-menu-bar ul.options-page a:hover 
{
    color: #ff5400
}
section.profile-information {
    padding: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    background-image: url("https://trek.scene7.com/is/image/TrekBicycleProducts/07-10%20Apparel_Marquee_Refresh_ShortsBibs2_SLIM?$responsive-pjpg$&cache=on,on&wid=1920")
}
div.image-container 
{
    margin: 10px 0;
    background:#fff;
    width: fit-content;
    border-radius: 50%;
    border: 1px solid #808080;
}

.foto-perfil 
{
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius:50%;
}

.foto-perfil.miniatura
{
     width: 90px;
    height: 90px;
}

.foto-gallery 
{
    width: 150px;
    height: 150px;
}

div.login-form
{
    display: flex;
    padding: 10px;
    margin-top:20px;
}

div.login-form span label
{
    display: block;
    color:#fff;
    margin-left: 10px;
}

div.login-form input 
{
    margin: 0 10px;
    border: none;
    padding: 5px;
    height: 30px;
    border-radius: 2px;
}

div.login-form input:nth-child(3) 
{
    color: #fff;
    width: 60px;
    font-weight: bold;
    background: #b3430c;
    box-shadow: 0px 0px 1px 0px black;
}

ul.options-page 
{
    float: right;
    margin-top:-15px;
}

ul.options-page i 
{
    color: #fff;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}
ul.options-page a:first-child
{
    margin-top:20px;
}
ul.options-page a
{
    margin-top: 0px;
    margin-left:-28px;
}
.transparent
{
    position: absolute;
    top: 0;
    height: 50px;
    width:40px;
    color: transparent !important;
}
.navbar-brand 
{
    font-size: 80px;
    margin-top: 30px;
}

img.logotipo 
{
    width: 130px;
}

form
{
    display:flex;
}
section.apresentacao
{
    width:350px;
    height:200px;
    border-radius: 3px;
    background: #fff;
}

h2.profile-name
{
    color:#fff;
    margin-top: -10px;
}
section.menu-perfil {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background: #fff;
}

section.menu-perfil ul
{
    padding: 0;
    display:flex;
    justify-content: space-between;
}

section.menu-perfil ul li
{
    width:20%;
    padding: 10px 20px;
    text-align: center;
    display:inline-block;
}

section.apresentacao h4
{
    padding:20px 40px 5px;
}

section.apresentacao ul
{
    list-style: none;
}

section.friends-list ul li
{
    display: flex;
    align-items: center;
}

section.friends-list ul li div
{
    margin-right:20px; 
}

section.friends-list ul li div:nth-child(2)
{
    min-width:100px;
}

/*///// posts //////*/
div.criar-postagem 
{
    width: 600px;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 5px;
    text-align:center;
    padding: 20px 0 10px;
}
section.aside-menu
{
    width:280px;
    height:400px;
    position:fixed;
    background: #fff;
    margin-right:10px;
    border-radius: 3px;
    text-align: center;
}
section.aside-menu div
{
    margin:10px 0;
    padding:10px;
}
section.aside-menu hr
{
    margin:0;
}
section.aside-menu div.general-information
{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}
section.aside-menu div.general-information span p:nth-child(1)
{
    color: #606065;
    font-size: 12px;
}
section.aside-menu div.general-information span p:nth-child(2)
{
    font-size:30px;
}
section.aside-menu img.foto-perfil 
{
    width: 100px;
    height: 100px;
    margin-top:10px;
}
div.criar-postagem input
{
    width:100%;
    border:none;
    margin:10px;
    max-width:450px;
    border-bottom:1px solid gray;
}

div.criar-postagem button
{
    display:flex;
    margin:10px;
    align-items:center;
}
div.criar-postagem button p
{
    margin: 0 5px;
}
div.criar-postagem button p a
{
    color:#333;
}
div.post-buttons 
{
    display: flex;
    margin: 0 auto;
    width: fit-content;
}
div.postagem
{
    width: 600px;
    margin: 0 auto 20px;
    background: #fff;
    border-radius:5px;
}
div.postagem:last-child
{
    margin-bottom:50px;
}
div.postagem h4
{
    font-weight: bold;
}
div.postagem div.cabecalho
{
    display:flex;
    align-items:center;
}
div.postagem div.content
{
    padding:0 20px;
}
div.postagem div.content div.performance-data
{
    display:flex;
}
div.postagem div.content div.performance-data span
{
    margin-right: 10px;
    border-right: 1px solid gray;
    padding:10px;
}
div.postagem div.content div.performance-data span:last-child
{
    border-right: none;
}
div.postagem div.content div.performance-data span p:first-child 
{
    color: #606065;
    font-size:12px;
}
div.postagem div.content div.performance-data span p:nth-child(2)
{
    font-size:16px;
    margin:0;
}
div.postagem img
{
    width:100%;
    height: 300px;
    border-radius:3px;
    margin:10px 0;
}
div.postagem img.foto-perfil
{
    margin:0;
    width: 100px;
    padding: 20px;
    height: 100px;
    border-radius:50%;
}
div.postagem div.content div.react
{
    display: flex;
    padding-bottom:10px;
    justify-content: space-between;
}

/*POSTAGENS DE UM USUÁRIO*/
div.postagem.user-details
{
    width: 100%;
    min-width: 800px;
}